{% extends 'profile/base.html.twig' %}

{% block section_title %}Cambiar contraseña{% endblock %}

{% block section %}
<form class="ui form" method="post">
    <div class="ui content container users">
        {{ form_errors(form) }}

        <div class="ui two column grid">
            <div class="column">
                {% if form.current_password.vars.errors|length > 0 %}
                <div class="field error"
                     data-content="{{ form.current_password.vars.errors }}">
                {% else %}
                <div class="field">
                {% endif %}
                    <label>Contraseña actual</label>
                    {{ form_widget(form.current_password) }}
                </div>
            </div>
            <div class="column">
                {% if form.plainPassword.first.vars.errors|length > 0 %}
                <div class="field error"
                     data-content="{{ form.plainPassword.first.vars.errors }}">
                {% else %}
                <div class="field">
                {% endif %}
                    <label>Nueva contraseña</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                {% if form.plainPassword.second.vars.errors|length > 0 %}
                <div class="field error"
                     data-content="{{ form.plainPassword.second.vars.errors }}">
                {% else %}
                <div class="field">
                {% endif %}
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
        </div>
    </div>

    <div class="ui single action footer">
        <button type="submit" class="ui large basic button">
            Guardar
        </button>
    </div>

    {{ form_widget(form._token) }}
</form>
{% endblock %}
