
{{ event.provider.contact.getAvatarImage()|raw }}

<div class="moment">{{ event.created|ago }}</div>

<div class="ui icon message">
    <i class="checkmark left icon"></i>
    <div class="content">
        {{ event.provider }}
        ha <strong>aceptado</strong> presupuestar
        {{ event.project }}
    </div>
    <i class="checkmark right icon"></i>
</div>

<div class="links">
    <a href="{{ url('project_briefing', {'id': event.project.id}) }}">
        Ver proyecto
    </a>
    <a href="{{ url('provider_preview', {'id': event.provider.id}) }}">
        Ver proveedor
    </a>
</div>
