{% for project in pagination.items %}
<tr href="{{ url('project_briefing', {'id': project.id}) }}">
    <td>
        <div class="name">
            {{ project.name }}
        </div>
        <div class="id">{{ project.code }}</div>
        <div class="completed status">
            {% set status_key = 'project.status.' ~ project.status %}
            {{ status_key|trans }}
        </div>
    </td>
    <td class="skills">
        {% for ability in project.abilities[0:2] %}
            <div class="skill">{{ ability }}</div>
        {% endfor %}
        {% if project.abilities|length > 2 %}
            <div class="skill">+{{ project.abilities|length - 2 }}</div>
        {% endif %}
    </td>
    <td class="date">{{ project.timing.start|date('d/m/Y') }}</td>
    <td class="date">{{ project.timing.end|date('d/m/Y') }}</td>
</tr>
{% endfor %}

{% if pagination.more %}
<tr data-remove>
    <td colspan="5" class="ui single action">
        <a href="{{ next_url }}" class="ui grey button" data-async="append">
            Mostrar {{ pagination.more }} más
        </a>
    </td>
</tr>
{% endif %}
