{% extends 'user/form/base.html.twig' %}

{% block section %}
<form class="ui form" method="post" enctype="multipart/form-data">
    <div class="ui content container users" >
        <div class="ui header">
            <h3>Datos del usuario</h3>

        </div>

        {{ form_errors(form) }}

        <div class="ui grid">
            <div class="fourteen wide column">
                <div class="two fields">
                    <div class="sixteen wide field" data-kind="freelance">

                        <div class="two fields">

                            <div class="eight wide field">
                                <label>Contraseña anterior</label>
                                {{ form_widget(form.oldPassword) }}
                            </div>

                            <div class="eight wide field">
                                <label>Nueva contraseña</label>
                                {{ form_widget(form.newPassword) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui double action footer">
        <a href="{{ url('edit_user',{'id':user.id}) }}" class="back">
            <img src="{{ asset('images/back-action.svg') }}">
            Cancelar y volver
        </a>
        <button type="submit" class="ui large basic button">
            Guardar
        </button>
    </div>

    {{ form_widget(form._token) }}
</form>
{% endblock %}
